//imports
@import "../functions";
@import "../variables";
@import "../mixins/breakpoints";
* {
  padding: 0;
  margin: 0;
  font-family: "gothaml";
  font-size: 15px;
}

:root {
  --gris: #919191;
}

@import "../complementos/nav.scss";

h1{
  font-weight: 700;
  color: #212529;
  margin: 10px 0;
  text-align: center;
}

.caracteristicas {
  color: var(--gris);
  p{
    font-size: 20px;
    transition: all 0.5s;
  }
  p:hover{
    color: #41273b;
  }
}

// incluyendo el eslogan

@import "../complementos/eslogan.scss";

.boton_contacto{
  font-weight: 700;
  color: #fff;
  font-size: 25px;
  margin: 0 auto;
  text-decoration: none;
  padding: 10px 20px;
  border: 2px solid #fff;

  transition: all 0.5s;
}
.boton_contacto:hover{
  color: #2461DD;
  border-color: #2461DD;
  text-decoration: none;
}

@import "../complementos/footer.scss";





// RESPONSIVE FOR OTHER RESOLUTIONS

@include media-breakpoint-up(sm) {
  #bannersintro {
    img{
      height: 380px;
    }
  }
  .caracteristicas {
    img {
      height: 400px;
    }
  }
}

// TABLET RESOLUTION
@include media-breakpoint-up(md) {
  #bannersintro {
    img {
      height: 470px;
    }
    .carousel-caption {
      top: 80%;
      left: 30px;
    }
  }
  .caracteristicas {
    img {
      height: 450px;
    }
  }
  .suscripcion {
    padding: 60px 0;
    h2 {
      font-size: 22px;
      font-weight: 700;
    }
    form {
      justify-content: center;
    }
  }
}
//DESTOCK RESOLUTION
@include media-breakpoint-up(lg) {
  #bannersintro {
    img {
      height: 90vh;
    }
  }

  .caracteristicas {
    display: block;
  }
  .carousel-caption {
    top: 0px;
    left: 50px;
    .caption_principal {
      display: flex;
      h5 {
        margin-bottom: 0px;
        text-align: left;
        font-family: "gothaml";
        font-weight: 900;
        font-size: 16px;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    p {
      display: flex;
    }
  }
}
