@import "../functions";
@import "../variables";
@import "../mixins/breakpoints";
@import "../complementos/nav.scss";
@import "../complementos/footer.scss";

* {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body{
  background-color: #D8E4EB;
}
:root {
  --gris: #919191;
}

.banner_intro{
    img{
      width:100%;
      max-height: 200px;
    }
    margin-bottom: 40px;
  }

.contenido_principal {
  .col-12 {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-family: "gothamb";
    margin: 20px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  }
  a {
    align-self: center;
    font-size: 50px;
    color: #2461DD;
  }
  a:hover {
    color: #225bce;
  }
  h4 {
    color: var(--gris);
    font-family: "gothaml";
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    transition: 1s;
  }
  h4:hover{
    color: #41273b;
  }
  p {
    text-align: center;
    font-family: "gothaml";
    font-size: 18px;
    padding: 20px;
    color: var(--gris);
    transition: 1s;
  }
  p:hover{
    color: #41273b;
  }
}

.eslogan {
  background-image: url("../../imagenes/parallaxmobile.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200px;

  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  h2{
    span{
      font-weight: 700;
    }
    font-weight: 900;
    width: 100%;
  }
}

.galeria{
  margin-top: 30px;
  img{
    width: 100%;
  }
}


//RESPONSIVE FOR OTHER RESOLUTIONS

@include media-breakpoint-up(sm){
  .eslogan{
    height: 320px;
    h2{
      font-size: 40px;
      span{
        font-size: 25px;
      }
    }
  }
}

@include media-breakpoint-up(lg){
  .contenido_principal{
    p{
      margin-top: 20px;
      padding: 0 200px;
    }
  }
  // .especial{
  //   width: 386px !important;
  // }
  .banner_intro{
    img{
      width:100%;
      max-height: 600px;
    }
    margin-bottom: 40px;
  }
  .eslogan{
    margin: 60px 0;
    background-image: url("../../imagenes/parallaxdestock.jpeg");
    height: 500px;
    h2{
      font-size: 60px;
      span{
        font-size: 40px;
      }
    }
  }
}