.eslogan {
  background-image: url("../../imagenes/parallaxmobile.jpeg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 200px;

  color: #fff;
  text-align: center;
  display: flex;
  align-items: center;
  h2{
    span{
      font-weight: 700;
    }
    font-weight: 900;
    width: 100%;
  }
}

@include media-breakpoint-up(sm){
  .eslogan{
    height: 320px;
    h2{
      font-size: 40px;
      span{
        font-size: 25px;
      }
    }
  }
}

@include media-breakpoint-up(lg){
    .eslogan{
    margin: 60px 0;
    background-image: url("../../imagenes/parallaxdestock.jpeg");
    height: 500px;
    h2{
      font-size: 60px;
      span{
        font-size: 40px;
      }
    }
  }
}