.header {
  .logo {
    display: flex;
    align-items: flex-end;
    img{
      width: 200px;
      height: 70px;
    }
  }
  .navlinks {
    text-align: center;
    li {
      a {
        font-size: 18px;
        font-family: "gothamb" !important;
        color: #000 !important;
      }
    }
  }
}

#bannersintro {
  img {
    width: 100%;
    height: 280px;
  }
  .carousel-caption {
    position: absolute !important;
    top: 0px;
    left: 10px;
    .caption_principal {
      display: flex;
      h5 {
        margin-bottom: 0px;
        text-align: left;
        font-family: "gothaml";
        font-weight: 900;
        font-size: 16px;
      }
      img {
        width: 40px;
        height: 40px;
      }
    }
    p {
      display: flex;
    }
  }
}

/////
@include media-breakpoint-up(md) {
  header {
    background-color: hsl(314, 25%, 20%) !important;
    z-index: 5;
    position: relative;
    .navbar {
      position: absolute;
      width: 100%;
      .collapse {
        display: flex;
        justify-content: flex-end;
        li {
          margin-left: 20px;
          a {
            font-size: 19px;
            font-weight: 800;
          }
          a:hover {
            border: none;
            border-radius: 10px;
            color: #fff !important;
            background-color: #2461dd;
          }
        }
      }
    }
  }
}

