@import "../functions";
@import "../variables";
@import "../mixins/breakpoints";
@import "../complementos/nav.scss";
@import "../complementos/footer.scss";

* {
  padding: 0;
  margin: 0;
  font-size: 15px;
}

body{
  background-color: #D8E4EB;
  overflow-x:hidden !important;
}
:root {
  --gris: #919191;
}

.banner_intro{
    img{
      width:100%;
      max-height: 200px;
    }
    margin-bottom: 40px;
  }

.contenido_principal {
  .col-12 {
    display: flex;
    flex-direction: column;
  }
  h1 {
    font-family: "gothamb";
    margin: 20px 0;
    text-align: center;
    font-size: 35px;
    font-weight: 700;
  }
  a {
    align-self: center;
    font-size: 50px;
    color: #2461DD;
  }
  a:hover {
    color: #225bce;
  }
  h4 {
    color: var(--gris);
    font-family: "gothaml";
    font-weight: 600;
    font-size: 22px;
    text-align: center;
    margin-bottom: 20px;
    transition: 1s;
  }
  h4:hover{
    color: #41273b;
  }
  p {
    text-align: center;
    font-family: "gothaml";
    font-size: 18px;
    padding: 20px;
    color: var(--gris);
    transition: 1s;
  }
  p:hover{
    color: #41273b;
  }
}

// insertar eslogan
@import "../complementos/eslogan.scss";


.galeria{
  margin-top: 30px;
  img{
    width: 100%;
  }
}


//RESPONSIVE FOR OTHER RESOLUTIONS


@include media-breakpoint-up(lg){
  .contenido_principal{
    p{
      margin-top: 20px;
      padding: 0 200px;
    }
  }
  // .especial{
  //   width: 386px !important;
  // }
  .banner_intro{
    img{
      width:100%;
      max-height: 800px;
    }
    margin-bottom: 40px;
  }
}